<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Post date</th>
    <th>Hit count</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= link_to article.Title , article%></td>
    <td><%= article.Description %></td>
    <td><%= article.Post_date %></td>
    <td><%= article.hit_count %></td>
  </tr>
<% end %>
</table>

