<h1>Listing articles</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Post date</th>
  </tr>

<% @articles.each do |article| %>
  <tr>
    <td><%= link_to  article.Title , article %></td>
    <td><%= article.Post_date %></td>
  </tr>
<% end %>
</table>
<%= will_paginate(@articles) %>
<br />
<% if current_user && current_user.is_admin? %>
  <%= link_to 'New Article', new_admin_article_path %>
<% end %>
